* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 100px;
  width: 100%;
  background: #ffff;
  /* border: 1px solid red; */
  position: fixed;
}
.logo img {
  width: 92%;
  height: 40px;
}
nav {
  display: flex;
  align-items: center;
}
ul {
  display: flex;
}

ul li {
  padding: 0 40px;
}
ul li a {
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
}
.container .main-hero {
  padding-top: 6rem;
  width: 100%;
}
.container .main-hero .home {
  height: 87vh;
  background-color: salmon;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-hero .home .btn-home {
  margin-top: 15rem;
}
/* pore kaj korte hobe */
